html,
body {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

.container {
    margin: 0 auto;
    padding: 25px;
}

.center {
    width: 100%;
    text-align: center;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.strong {
    font-weight: bold;
}

.links a {
    display: block;
    text-align: right;
}

.table {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    thead th,
    tbody td {
        border-bottom: 1px solid #ccc;
    }
    tbody tr:last-child td {
        border-bottom: none;
    }
}

.table #experience article,
#projects article {
    margin-bottom: 3ex;
    border-left: 5px solid #ddd;
    padding-left: 10px;
}

.left {
    float: left;
}